body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 5px 10px rgba(56, 81, 112, 0.4);
    color: #385170;
}

.hitung {
    background-color: #ececec;
    
}
.reset {
    background-color: #ececec;
}