h1, h2 {
    text-align: center;
    color: #ececec;
}
label {
    color: #ececec;
}
body {
    text-align: center;
    font-family: sans-serif;
    text-shadow: 5px 5px 10px rgba(56, 81, 112, 0.4);
    color: #385170;
    background-color: #142d4c;
}

.hitung {
    background-color: #ececec;
    
}
.reset {
    background-color: #ececec;
}